.header {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}

.title {
    background: -webkit-linear-gradient(0deg, #03E1FF, #DC1FFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    height: 6vh;
}


.buttonc {
    text-shadow: 1px 1px #8147e5;

    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #DC1FFF 0, #03E1FF 100%);
    border: 0px;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .2) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:hover {
    transform: translateY(-2px);
}

a {
    text-decoration: none;
}

svg {
    width: 20px;
    height: 20px;
}